<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To Do App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
    .error {
      color: red;
    }

    </style>
  </head>

  <body>

    <div id="app">
      <span class="error" v-html="error"></span>
      <section class="section">
        <div class="container">
          <h1 class="title">
            Welcome {{welcome}}
          </h1>
          <p class="subtitle">
            My To Do List
          </p>
        </div>
      </section>
      <div class="container">
        <div class="columns">
          <div class="column is-half">
            <div class="field">
              <div class="control">
                <input class="input is-hovered" type="text" placeholder="task name" v-model="newTodo.task_name">
              </div>
              <div class="control">
                <input class="input is-hovered" type="text" placeholder="tags" v-model="newTodo.tags">
              </div>
              <div class="control">
                <button class="button is-primary" @click="addTodo(newTodo)">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="section">
        <div class="container">
          <div class="box" v-for="todo in todos">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{todo.user_id.name}}</strong>
                    <br>
                    {{todo.task_name}}
                    <br>
                    {{todo.tags}}
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item">
                      <span class="icon is-small"><i class="fa fa-reply"></i></span>
                    </a>
                    <a class="level-item">
                      <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                    </a>
                    <a class="level-item">
                      <span class="icon is-small"><i class="fa fa-heart"></i></span>
                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        </div>
      </section>

    </div>

    <script src="app.js"></script>
  </body>
</html>
